.card{
    width: 400px;
    height: 400px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background: #d2d2d2;

    @media (max-width: 800px) {
        width: 70vw;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    }
}

.card ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.card-img{
    display: block;
    max-height: 200px;
    max-width: 360px;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

    @media (max-width: 800px) {
        width: 60vw;
    }
}

.icoin {
    height: 100px;
    width: 100px;
}