.card{
    width: 400px;
    height: 400px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

    padding: 20px;

}

.card-img{
    height: 200px;
    width: 300px;
}

.icoin {
    height: 100px;
    width: 100px;
}