.portfolio-container {
    overflow-y: auto;
    padding-bottom: 10rem;
    place-items: center;
    @media (max-width: 800px) {
        width: 80vw;
        padding-top: 2rem;
    }
}

.cards-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

