.pageHeader {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;

    padding: 1rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: space-around;

    background: #e7e4dc;

    @media (max-width: 800px) {
        flex-direction: column;
    }
}

.pageHeader_links {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.pageHeader_links li {
    font-size: 1.3rem;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.highlight {
    background: linear-gradient(45deg, #0f67df, #e32323);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}