footer {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem 0;
}

h4 {
    margin: 0;
    font-size: 1.5rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.5em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #545454;

    font-size: 1.2rem;
}

.icon {
    width: 1em;
    height: 1em;
}