.aboutme_card {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    border-radius: 20px;
    padding: 2rem;
    width: 100%;
}

.aboutme_card_pic {
    width: 260px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textbox {
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}

h2 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 2rem;
}

.highlight {
    background: linear-gradient(45deg, #0f67df, #e32323);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}